body {
    background: #b07cf7;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    padding: 0;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
}

.mainer {
    max-width: 1172px;
    margin: 100px auto;
    padding: 0;
}

.mainer p {
    font-weight: lighter;
    text-align: center;
    margin: 0 300px 45px 300px;
    
}

.mainer .wrapper-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.mainer .box {
    padding:0 15px;
    display: block;
}

.box-smuthies {
    margin-left: -15px;
    position: relative;
}

.number { 
    position: absolute;
    top: 30px;
    left: 30px;
    height: 60px;
    width: 60px;
    background-color: rgb(90, 98, 107, 0.7);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    padding: 0;
    box-sizing: border-box;
}

.number .date {
    font-size: 32px;
}

.box-smuthies .text,
.box-food .text,
.box-pestfood .text {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.text h3 {
    font-size: 20px;
    font-weight: bold;
}

.text span {
    display: block;
    font-size: 13px;
    font-weight: 300;
    margin-top: 15px;
}

.box-food {
    position: relative;
}

.box-pestfood {
    margin-right: -15px;
    position: relative;
}

.box :hover h3 {
    font-size: 25px;
}
.box :hover .number {
    background-color: rgb(90, 98, 107, 1);
}


button {
    display: block;
    background-color: #f72b3b;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: lighter;
    padding: 20px 40px;
    border: none;
    margin: 0 auto;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #dd1b2b;
}
